*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    background-image: url(images/donation12.png);
}
.header-section{
    padding: 175px 305px;
    text-align: center;
    background: linear-gradient(0deg, #121212 0%, rgba(18, 18, 18, 0.00) 100%);
    color: #FFF;
}
.header-section h1{
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 20px;
}
.header-section p{
    font-size: 18px;
}
.primary-button{
    border: 0;
    border-radius: 5px;
    background: #FF5959;
    padding: 12px 16px;
    font-size: 20px;
    font-weight: 600;
    color: #FFF;
    margin-top: 30px;
}
.donate-today{
    margin: 130px 330px;
    text-align: center;
}
.donate-header{
    font-size: 45px;
    font-weight: 700;
}
.donate-description{
    font-size: 18px;
    color: #707070;
    margin-top: 20px;
    margin-bottom: 50px;
}
.amaunt-taka{
    display: flex;
    justify-content: space-around;
}
.amaunt-taka div{
    border-radius: 5px;
    background: #FAFAFA;
    padding: 30px 25px;
    margin-bottom: 60px;
    margin-right: 22px;
}
.amaunt-taka p{
    color: #707070;
    font-size: 30px;
    font-weight: 700;
}
.amaunt-taka .amaunt-style{
    border: 2px solid #FF5959;
    background: #FEE;
}
.other-amaunt{
    border: 0;
    color: #B3B3B3;
    font-size: 18px;
    margin-bottom: 9px;
}
.donate-plan{
    margin-bottom: 110px;
    margin-left: 155px;
    margin-right: 155px;
}
.donate-head-descrip{
    text-align: center;
}
.plan-container{
    display: flex;
    gap: 24px;
    
}
.food-family{
    border-radius: 5px;
    background: rgba(79, 157, 166, 0.10);
}
.shelter-family{
    border-radius: 5px;
    background: rgba(255, 89, 89, 0.10);
}
.education-child{
    border-radius: 5px;
    background: #FFF4D6;
}
.container{
    padding: 50px 20px;
}
.plan-container h3{
    font-size: 24px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 16px;
}
.plan-container p{
    color: #707070;
}
.depend-donation{
    display: flex;
    gap: 90px;
    margin-left: 155px;
    margin-right: 155px;
    margin-bottom: 80px;
}
.depend-survive-head{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
}
.depend-survive-descrip{
    font-size: 18px;
    color: #707070;
}
.donation-img{
    border-radius: 5px;
}
.contact{
    padding: 75px 190px;
    background-color: #FFF4D6;
}
.email{
    border: 0;
    border-radius: 5px 0px 0px 5px;
    background: #D9D9D9;
    color: #AA9F9F;
    font-weight: 500;
    padding: 14px 17px;
}
.sub-button{
    border: 0;
    border-radius: 0px 5px 5px 0px;
    background: #FF5959;
    color: #FFF;
    padding: 14px 17px;
}
.humble-footer{
    text-align: center;
    background-color: #0B0D17;
}
.footer-details{
    padding: 42px 530px;
}
.humble-footer h3{
    color: #FF5959;
    font-size: 36px;
    font-family: 'lobster';
}
.humble-footer small{
    color: #D9DBE1;
    font-size: 14px;
}